/*theme*/

header h1 {
    color: #fff;
}

header h1 span {
    color: #f4b33b;
}

header div {
    height: 10px;
    background-color: #f4b33b;
}

header nav ul li#about {
    background-color: #f4b33b;
    border-radius: 5px 5px 0 0;
}

footer div a {
    color: #f4b33b;
}

footer div a:hover {
    background-color: #f4b33b;
}


/*theme-end*/

div#container h3 {
    margin-bottom: 10px;
}

div#container p {
    margin-bottom: 10px;
}

div#container a[href="mailto:ruinb0w@126.com"]{
    color: #f4b33b;
}

/* customize*/
.bd, .fd{
  float: left;
}
.clear {
  clear: both;
}
.container {
  width: 400px;
  margin: 0 auto;
}
