/*theme*/

header h1 {
    color: #fff;
}

header h1 span {
    color: #3b8475;
}

header div {
    height: 10px;
    background-color: #3b8475;
    margin: 0;
}

header nav ul li#blog {
    background-color: #3b8475;
    border-radius: 5px 5px 0 0;
}

footer div a {
    color: #3b8475;
}

footer div a:hover {
    background-color: #3b8475;
}


/*theme-end*/

div#container {
    position: absolute;
    width: 100%;
    top: 120px;
    height: 100%;
    bottom: 20px;
    margin:0;
    padding: 0;
    overflow: hidden;
}

div#container #leanote{
    width: calc(100% + 20px);
    height: 100%;
    border:0;
}

footer {
    background-color: #3f3f3f;
}
