/*theme*/

header h1 {
    color: #fff;
}

header h1 span {
    color: #c73632;
}

header div {
    height: 10px;
    background-color: #c73632;
}

header nav ul li#collect {
    background-color: #c73632;
    border-radius: 5px 5px 0 0;
}

footer div a {
    color: #c73632;
}

footer div a:hover {
    background-color: #c73632;
}


/*theme-end*/

div#container details[open]{
    border: 1px solid #c73632;
}

div#container summary:focus{
    outline: none;
}


div#container details[open] summary{
    background-color:#c73632;
    color: #fff;
}

div#container summary{
    color: #000;
    cursor: default;
    user-select: none;
}

div#container a {
    color: #c73632;
}

div#container .links {
    text-align: center;
}

