/*theme*/

header h1 {
    color: #fff;
}

header h1 span {
    color: #3b8aab;
}

header div {
    height: 10px;
    background-color: #3b8aab;
}

header nav ul li#home {
    background-color: #3b8aab;
    border-radius: 5px 5px 0 0;
}

/*theme-end*/

div#container{
    width: 100%;
}

div#container p {
    text-indent: 0 !important;
    display: block;
    margin: 0 auto;
    width: fit-content;
}

div#container .themeColor {
    color: #3b8aab;
}


div#container .hello {
    margin-top: 100px;
    margin-bottom: 100px;
    user-select: none;
    cursor: default;
    font-size: 50px;
    background-color: #333;
    border-radius: 10px;
    color:#fff;
    padding: 0 5px;
}
