/*theme*/

header h1 {
    color: #fff;
}

header h1 span {
    color: #eb4a55;
}

header div {
    height: 10px;
    background-color: #eb4a55;
}

header nav ul li#project {
    background-color: #eb4a55;
    border-radius: 5px 5px 0 0;
}

footer div a {
    color: #eb4a55;
}

footer div a:hover {
    background-color: #eb4a55;
}


/*theme-end*/

article a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

/*define for project*/
.projects {
   background-color: #333; 
   display: inline-block;
   padding: 10px;
}

.projects img{
    display: block;
    width: 150px;
    height: 150px;
}

p.process {
    text-indent: 0 !important;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    cursor: default;
}

.projects a{
    background-color: #fff;
    display: block;
    text-align: center;
}
