/*theme*/

header h1 {
    color: #fff;
}

header h1 span {
    color: #3b8475;
}

header div {
    height: 10px;
    background-color: #3b8475;
}

header nav ul li#log {
    background-color: #3b8475;
    border-radius: 5px 5px 0 0;
}

footer div a {
    color: #3b8475;
}

footer div a:hover {
    background-color: #3b8475;
}


/*theme-end*/

#passwdDiv {
    text-align: center;
}

div#container article {
    border-bottom: 5px solid #3b8475;
}

div#container time {
    display: block;
    text-align: right;
}

div#container {
    display: none;
}
