/*theme*/

header h1 {
    color: #fff;
}

header h1 span {
    color: #71456c;
}

header div {
    height: 10px;
    background-color: #71456c;
}

header nav ul li#note {
    background-color: #71456c;
    border-radius: 5px 5px 0 0;
}

footer div a {
    color: #71456c;
}

footer div a:hover {
    background-color: #71456c;
}


/*theme-end*/
