body{
    position: fixed;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.head{
    position: absolute;
    left: 100px;right: 5px;top: 0;
    height: 40px;
    background-color: dimgray;
    text-align: center;
}
.head h1{
    line-height: 0;
}
.body{
    text-indent: 2em;
    position: absolute;
    right: 5px;;left: 100px;top: 50px;bottom: 50px;
    background-color: lightgray;
}
.body p{
    margin: 0;
}
.side{
    position: absolute;
    background-color: dimgray;
    left: 5px;
    width: 85px;
    height: 100%;
}
.side h3{
    text-align: center;
}
.foot{
    position: absolute;
    left: 100px;right: 5px;bottom: 0;
    height: 40px;
    background-color: dimgray;
    text-indent: 2em;
}
.foot li{
    float: left;
    list-style: none;
}
span{
/*    display: block;*/
    position: absolute;
    bottom: 0;
    text-indent: 1em;
}
